.orange{
    width: 700px;
    height: 500px;
    background-color: orange;
    position: relative;
    z-index: 10;
}
.red{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: red;
    position: absolute;
    right: 0;
    z-index: 11;
}
.black{
    width: 60%;
    height: 45%;
    background-color: black;
    position: relative;
    position: absolute;
    bottom: 0;
    z-index: 12;
}
.yellow{
    width: 100px;
    height: 100px;
    background-color: yellow;
    position: absolute;
    right: 0;
    z-index: 15;
    border-radius: 100px;
}
.blue{
    width: 200px;
    height: 100px;
    background-color: blue;
    position: absolute;
    right: 120px;
    bottom: 150px;
    z-index: 11;
}